.home{
    background: linear-gradient(rgba(46, 55, 78, 0.30), rgba(39, 50, 78, 0.10)),url(home4.jpg);
    background-size: cover;
    background-position: left;
}
.pagina{
    display: inline-block;
    padding: 5px 10px;
    color: aliceblue;
    font-weight: 800;
    background: rgba(52, 93, 134, 0.7);
}